---
import Hola_mundo from "../componnets/Hola_mundo.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class ="text-primaryBlue">
		<h1 class = "text-primaryBlue">Astro</h1>
        <Hola_mundo />
		
	</body>
</html>
